.button {
  cursor: pointer;
  background: transparent;
  color: inherit;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 120ms;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}

.fullWidth {
  width: 100% !important;
}

.iconButton {
  padding: 8px;
}
