.box {
  padding: 10px;
}

.box:hover {
  color: #fff;
}

.body {
  margin-left: 10px;
  margin-right: 20px;
  display: block;
}

.body span {
  display: block;
}

.slug {
  color: #6e767d;
}

.icon {
  margin-left: auto;
}
