.tweet {
  display: grid;
  grid-template-areas: 'avatar body';
  grid-template-columns: 50px 1fr;
  gap: 15px;
  padding: 20px 15px;
  border-bottom: 1px solid #2f3336;
}

.avatar {
  grid-area: avatar;
}

.body {
  grid-area: body;
}

.header {
  color: #6e767d;
}

.name {
  font-weight: bold;
  color: #fff;
}

.content {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.footer {
  display: flex;
  align-items: center;
}

.footerButton {
  display: flex;
  align-items: center;
  flex: 1;
  color: #6e767d;
}

.footerButton span {
  font-size: 0.9rem;
}

.footerButton:first-child {
  margin-left: -8px;
}

.actionButton {
  color: inherit;
}
.actionButton svg {
  font-size: 19px;
}
